
.center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    color: #f00;
    display: block;
}
.error2 {
    color: #1f1f00;
    display: block;
}

body{
    min-height: 113vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;

}
#login-body{
    min-height: 100vh;
}
.serious_message{
    font-size: 40px;
    text-decoration: underline red;
}
.form-group {
    display: flex;
    align-items: center;
}

.form-group p {
    margin: 0;
    padding: 0 5px;
}
.smallImg{
    width: 90px;
    border-radius: 5%;
}

.abbr-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.abbr-text,
.abbr-image {
    position: absolute;
    display: none;
    transition: opacity 0.3s ease;
}

.abbr-container:hover .abbr-text,
.abbr-container:hover .abbr-image {
    display: inline-block;
}

.abbr-image {
    width: 256px;
    vertical-align: middle;
    border-radius: 10%;
    z-index: 9999;
    top:100px
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    padding: 15px;
}
tbody{
    display: block;
    max-height: 50vh;
    overflow-y: scroll
}


@media (max-width: 1560px) {
    .th,td {
        padding: 10px;
    }
    tbody{
        overflow-x: scroll;
        max-width:100vh;
    }
}
@media (max-width: 1150px) {
    tbody{
        max-width:70vh;
    }
}
@media (max-width: 800px) {
    tbody{
        max-width:50vh;
    }
}
@media (max-width: 550px) {
    tbody{
        max-width:30vh;
    }
}